*,
*::before,
*::after {
  border-style: box-sizing;
}

.AboutShort {
  background: #000;
  margin: 0 auto;
  padding-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  align-items: center;
  color: #fff;
  font-size: 175% !important;
  font-family: sans-serif;
}

.AboutShort .IMGoktay {
  padding: 2rem;
}

.imgok {
  max-width: 100%;
  width: 500px;
}

.Presentation {
  justify-self: self-start;
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
  max-width: 600px;
}

.Presentation p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  transition: 0.3s all ease-in-out;
}
.Presentation h1 {
  padding-bottom: 20px;
}

.Social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  margin-top: 2rem;
  gap: 20px;
  transition: 0.3s all ease-in-out;
}
.Social .git:hover {
  opacity: 0.7;
  cursor: pointer;
}
.Social .linked:hover {
  opacity: 0.7;
  cursor: pointer;
}
.Social .insta:hover {
  opacity: 0.7;
  cursor: pointer;
}

.Social .Behance:hover {
  opacity: 0.7;
  cursor: pointer;
}
@media screen and (max-width: 989px) {
  .Social {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    margin-top: 2rem;
    gap: 2rem;
    transition: 0.3s all ease-in-out;
  }

  .AboutShort {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .IMGoktay {
    justify-self: center;
    /* grid-area: IMGoktay; */
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .Presentation {
    /* grid-area: Presentation; */
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
    /* justify-items: center;
    align-items: center;*/
    text-align: center;
  }

  .Presentation p {
    text-align: center;
  }

  body {
    padding-top: 0px;
  }
}
