* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gallery-Grid-Container {
  display: grid;
  grid-template-columns: 1.1fr 1fr 1fr 1fr 1fr 1.1fr;

  grid-template-rows: auto auto auto auto;
  background: black;

  column-gap: 20px;
  row-gap: 20px;

  padding-top: 30px;
  padding-bottom: 30px;
}
.gallery-Grid-Container h1 {
  grid-column: 2/6;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 30px;
  color: #fff;
}
.visit-b {
  grid-column: 2/6;
  justify-self: center;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 30px;
  color: #fff;
}

.visit-b .B:hover {
  opacity: 0.7;
  cursor: pointer;
}

/*******************************/
/*Fredrik*/
.LeftImage {
  grid-column: 2/3;
  grid-row: 2/4;
  transition: transform 0.2s;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 50px 0 rgba(0, 0, 0, 0.3);
}
.LeftImage:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.3);
}
.LeftImage:hover .middle {
  opacity: 1;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.text {
  display: grid;
  background-color: #000;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  cursor: pointer;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 3px solid #fff;

  justify-content: center;
  align-content: center;
}

/***************************************************************/
/*Bea liten*/
.MiddleLeftImage {
  grid-column: 5/6;
  grid-row: 2/3;
  transition: transform 0.2s;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 50px 0 rgba(0, 0, 0, 0.3);
}
.MiddleLeftImage:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.3);
}
.MiddleLeftImage:hover .middle-bea-liten {
  opacity: 1;
}

.middle-bea-liten {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/********************************************/

/*Tupac*/
.MiddleRightImage {
  grid-column: 3/4;
  grid-row: 2/3;
  transition: transform 0.2s;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 50px 0 rgba(0, 0, 0, 0.3);
}
.MiddleRightImage:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.3);
}

.MiddleRightImage:hover .middle-right-tupac {
  opacity: 1;
}

.middle-right-tupac {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 80%;
  right: 55%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/**********************************************/
/*Bea Yxa*/
.RightImage {
  grid-column: 4/5;
  grid-row: 2/4;
  transition: transform 0.2s;
}
.RightImage:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.3);
}

.RightImage:hover .right-bea-yxa {
  opacity: 1;
}

.right-bea-yxa {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/*********************************/
/*Basil*/
.MiddleRight {
  grid-column: 3/4;
  grid-row: 3/4;
  align-self: baseline;
  transition: transform 0.2s;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 50px 0 rgba(0, 0, 0, 0.3);
}
.MiddleRight:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.3);
}

.MiddleRight:hover .Middle-Basil {
  opacity: 1;
}

.Middle-Basil {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/******************************/
/*Liten Fredrik*/
.Last {
  grid-column: 4/5;
  grid-row: 3/4;
  align-self: flex-end;
  transition: transform 0.2s;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 50px 0 rgba(0, 0, 0, 0.3);
}
.Last:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.3);
}

.Last:hover .Last-fredrik {
  opacity: 1;
}
.Last-fredrik {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/***********************************************************/

/*Indian*/
.MiddleLeft {
  grid-column: 5/6;
  grid-row: 3/4;
  align-self: baseline;
  transition: transform 0.2s;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 50px 0 rgba(0, 0, 0, 0.3);
}
.MiddleLeft:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.3);
}
.MiddleLeft:hover .Middle-left-indian {
  opacity: 1;
}
.Middle-left-indian {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 18%;
  left: 15%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*********************************************************/
.bild1 {
  display: block;
  max-width: 100%;
  height: auto;
}
.bild2 {
  display: block;
  max-width: 100%;
  height: auto;
}
.bild3 {
  display: block;
  max-width: 100%;
  height: auto;
}
.bild4 {
  display: block;
  max-width: 100%;
  height: auto;
}
.bild5 {
  display: block;
  max-width: 100%;
  height: auto;
}
.bild6 {
  display: block;
  max-width: 100%;
  height: auto;
}
.bild7 {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ____LOGO______ */

@media screen and (max-width: 2080px) {
  .gallery-Grid-Container {
    grid-template-columns: 0.4fr 1fr 1fr 1fr 0.4fr;
    grid-template-rows: auto auto auto auto;
  }
  .gallery-Grid-Container h1 {
    text-align: center;
    grid-column: 2/5;
  }
  .visit-b {
    text-align: center;
    grid-column: 2/5;
  }
  .MiddleLeftImage {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  .MiddleLeft {
    grid-column: 4/5;
    grid-row: 4/5;
    align-self: baseline;
  }
  .Last {
    grid-column: 4/5;
    grid-row: 3/4;
    align-self: flex-end;
  }
}

@media screen and (max-width: 1540px) {
  .gallery-Grid-Container {
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
    grid-template-rows: auto auto auto auto auto;
  }
  .gallery-Grid-Container h1 {
    grid-column: 2/4;
  }

  .visit-b {
    text-align: center;
    grid-column: 2/4;
  }
  /*Tupac*/
  .MiddleRightImage {
    grid-column: 2/3;
    grid-row: 5/6;
  }

  /*Bea Yxa*/
  .RightImage {
    grid-area: img4;
  }

  /*Basil*/
  .MiddleRight {
    grid-column: 3/4;
    grid-row: 4/5;
  }

  /*Indian*/
  .MiddleLeft {
    grid-column: 3/4;
    grid-row: 5/6;
  }

  /*Bea Yxa*/
  .RightImage {
    grid-column: 3/4;
    grid-row: 2/4;
  }
  .Last {
    grid-column: 3/4;
    grid-row: 3/4;
    align-self: baseline;
  }
}

@media screen and (max-width: 1046px) {
  .gallery-Grid-Container {
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
  }
  .gallery-Grid-Container h1 {
    grid-column: 2/3;
  }

  .visit-b {
    text-align: center;
    grid-column: 2/3;
  }
  /*****1046***/
  /*Indian*/
  .MiddleLeft {
    grid-column: 2/3;
    grid-row: 9/10;
  }

  /*Basil*/
  .MiddleRight {
    grid-column: 2/3;
    grid-row: 8/9;
  }

  /*Tupac*/
  .MiddleRightImage {
    grid-column: 2/3;
    grid-row: 7/8;
  }

  /*Bea liten*/
  .MiddleLeftImage {
    grid-column: 2/3;
    grid-row: 6/7;
  }

  /*Bea Yxa*/
  .RightImage {
    grid-column: 2/3;
    grid-row: 5/6;
    align-self: flex-start;
  }
  .Last {
    grid-column: 2/3;
    grid-row: 4/5;
    align-self: flex-start;
  }
}
