* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-grid-class {
  display: grid;
  grid-template-columns: 0.5fr 900px 400px 0.5fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    ". ommig komp1 . "
    ". ommig komp2 .";

  column-gap: 50px;
  row-gap: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* ____________________________OM MIG________________________________ */
.ommig {
  grid-area: ommig;
  font-size: 25px;
  padding: 30px;
  border-style: dashed;
  border-color: #00b0e7;
}
.ommig h1 {
  text-align: center;
  padding-bottom: 40px;
}

.ommig p {
  margin-bottom: 20px;
}
/* ____________________________KOMPETENS1________________________________ */

.kompetens1 {
  grid-area: komp1;
  background: linear-gradient(#00b0e7, #2a4494);
  border-radius: 25px;
  display: grid;
  justify-content: center;
  align-content: center;
  max-height: 400px;
  color: #fff;
}
.it {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "h1 h1 h1 h1 h1"
    ". . html . ."
    ". css . js ."
    "bs . cs . git";
  margin-top: 20px;
  margin-bottom: 30px;
}

.title1 {
  grid-area: h1;
  color: #fff;
  padding-bottom: 40px;
  text-align: center;
}

.html-class {
  grid-area: html;
}

.css-class {
  grid-area: css;
}

.js-class {
  grid-area: js;
}

.bs-class {
  grid-area: bs;
}

.csharp-class {
  grid-area: cs;
}

.git-class {
  grid-area: git;
}
/* ____________________________KOMPETENS2________________________________ */
.kompetens2 {
  grid-area: komp2;
  background: linear-gradient(#2a4494, #00b0e7);
  border-radius: 25px;
  display: grid;
  justify-content: center;
  align-content: center;
  max-height: 400px;
  color: #fff;
}

.ui {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "h1 h1 h1 h1 h1"
    "ps . ai . xd"
    ". lrc . pr ."
    ". . in . .";
  margin-top: 20px;
  margin-bottom: 30px;
}

.title2 {
  grid-area: h1;
  color: #fff;
  padding-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}
.ps-class {
  grid-area: ps;
}
.ai-class {
  grid-area: ai;
}
.xd-class {
  grid-area: xd;
}
.lrc-class {
  grid-area: lrc;
}
.pr-class {
  grid-area: pr;
}
.in-class {
  grid-area: in;
}
/* .container-class {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(650px, auto);
  padding-top: 60px;
} */
/* 
.AboutMe {
  background: #00b0e7;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1.5fr 0.5fr 1fr;
  grid-template-areas:
    ". text kompetens ."
    ". text sprak .";
  justify-items: end;
  align-items: center;
  color: #fff;
  font-size: 175% !important;
  font-family: sans-serif;
}

.text-class {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1em;
  grid-area: text;
  margin: 0 auto;
  padding: 1rem;
}

.kompetens-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-area: kompetens;
  padding: 1rem;
  max-width: 600px;
}

.sprak-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-area: sprak;
  padding: 1rem;
  max-width: 600px;
} */

/* .grid-container {
  display: grid;
  grid-template-columns: 1.3fr 1.7fr 0.9fr 1.2fr;
  grid-template-rows: 300px 300px;
  grid-gap: 50px;
  grid-template-areas:
    ". text kompetens ."
    ". text sprak .";
  grid-row-gap: 2em;
  grid-column-gap: 2rem;
} */

/* .text {
  grid-area: text;
  justify-items: end;
  align-items: center;
  color: black;
  font-size: 175% !important;
  font-family: sans-serif;
} */
/* .text h1 {
  text-align: center;
} */
/* .kompetens {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  grid-template-areas:
    "h1 h1 h1"
    "html css bs"
    "js cs git"
    "ps ai id";

  background-color: rgba(255, 0, 0, 0.3);
  grid-area: kompetens;
  border-radius: 15px;
  margin-top: 10px;
} */
/* .kompetens h1 {
  grid-area: h1;

  transition: 0.3s all ease-in-out;
  align-self: center;
  justify-self: center;
} */
.html-class {
  grid-area: html;
  align-self: center;
  justify-self: center;
}
.css-class {
  grid-area: css;
  align-self: center;
  justify-self: center;
}
.bs-class {
  grid-area: bs;
  align-self: center;
  justify-self: center;
}
.js-class {
  grid-area: js;
  align-self: center;
  justify-self: center;
}
.csharp-class {
  grid-area: cs;
  align-self: center;
  justify-self: center;
}
.git-class {
  grid-area: git;
  align-self: center;
  justify-self: center;
}
.id-class {
  grid-area: id;
  align-self: center;
  justify-self: center;
}
.ps-class {
  grid-area: ps;
  align-self: center;
  justify-self: center;
}

.ai-class {
  grid-area: ai;
  align-self: center;
  justify-self: center;
}
.sprak {
  background: coral;
  grid-area: sprak;
  border-radius: 15px;
}
